@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat';
  }
  
  
  
  body {
    min-width: 320px;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }