@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat';
  }
  
  
  
  body {
    min-width: 320px;
    background: #EAEAEA;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }


  .title{
    font-size: clamp(1.063rem, 0.989rem + 0.37vw, 1.25rem);
    font-weight: 600;
    text-align: left;
    color: #838383;
    padding-bottom: 20px;
    text-transform: uppercase;
  }


  .service__title{
    font-size: clamp(0.938rem, 0.889rem + 0.24vw, 1.063rem);
    font-weight: 600;
    color: #1C1C27;
    padding: 15px 0 15px 0;
  }

  