.location{
    padding: 40px 0 40px 0;
}


.location__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.offices{
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000001A;
    padding: 15px 20px 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    max-width: 760px;
    width: 100%;
    align-items: center;
}


.offices__title{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 10px;
}


.location__loc{
    border-radius: 20px;
    max-width: 723px;
    width: 100%;
}


.addres__info{
    display: flex;
    padding-top: 13px;
    gap: 12px;
    padding-left: 10px;
}


.addres{
    font-size: clamp(0.813rem, 0.764rem + 0.24vw, 0.938rem);
    font-weight: 500;
}

.addres__desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.addres_text{
    font-size: 13px;
    font-weight: 500;
    color: #838383;
}


.contacts__info{
    display: flex;
    padding-top: 44px;
    gap: 28px;
}

.fa-phone-alt{
    color: #000;
    font-size: 30px;
    display: flex;
}


.contacts {
    font-size: clamp(1rem, 0.78rem + 1.1vw, 1.563rem);
    font-weight: 600;
    color: #000;
}

.location__img{
    max-width: 723px;
    width: 100%;
}



@media screen and (max-width: 660px) {
   .offices{
    width: 100%;
   }
   .contacts__info{
    gap: 20px;
    justify-content: center;
   }
   .location__img{
    width: 100%;
   }
   .location{
    padding: 30px 0 40px 0;
   }
}