.tws{
    margin-bottom: 61px;
}


.tws__cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}


    .icon__apple{
        display: flex;
        justify-content: flex-end;
    }

.tws__card{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px 55px 33px;
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: 0.3s;
}

.tws__card:hover{
    border: 1px solid #c9c4c4;
}


.tws__img2 img{
    max-width: 220px;
    width: 100%;
} 
.tws__img2{
    max-width: 220px;
    width: 100%;
    padding-bottom: 55px;
}
.tws__img{
    max-width: 220px;
    width: 100%;
    padding-bottom: 70px;
}
.tws__img3{
    max-width: 220px;
    width: 100%;
    padding-bottom: 40px;
}


.tws__info{
    display: flex;
    justify-content: space-between;
}


.price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tws__info-text{
    font-size: clamp(0.875rem, 0.802rem + 0.37vw, 1.063rem);
    font-weight: 600;
    color: #1C1C27;
}

.price_now{
    font-size: clamp(0.875rem, 0.802rem + 0.37vw, 1.063rem);
    font-weight: 600;
    color: #FFA542;
}



.assessment{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.assessment2{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
}
.assessment3{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
}

.icon__star{
    color: #FFCE7F;
}


@media screen and (max-width: 967px){
    .tws__cards{
        flex-wrap: wrap;
    } 
    .tws__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .tws__img img{
        width: 100%;
    }
    .tws__card{
        padding: 16px 40px 33px;
    }

}